
  
  .containerSecundario{
    text-align: center;
  }

  .pantalla_login{
    width: 100vw;
    height: 86.5vh;
    background-image: url('../../public/icons/deportes.jpg');
  }
  .botonLogin{
    margin-top: 1.5rem;
    width: 15rem;
    height: 4rem;
    background-color: rgb(33, 181, 30);
  }

  .inputLogin{
    height: 3rem;
  }
  
  .enlace-registro{
    color: rgb(17, 17, 193);
    margin-top: 25px;
    cursor: pointer;
    text-decoration: underline;
  }

  .enlace-registro:hover{
    color: blue;
    text-decoration: none;
    font-size: 1.1rem;
  }

